// Colors
//
// Assign colors
//
// Styleguide: Base.Variables.Colors

// Design colors
$blue: #094ec0;
$marine: #4180c5;
$red: #d71b3b;
$orange: #f48640;
$fuchsia: #d902ee;
$dark: #320d3e;
$grey: #ced7d8;
$white: #FFFFFF;
$yellow: #ffea04;

// Link colors
$blue-bright: #00bfff;
$yellow-bright: #feff5a;

// Bulma sizes
$size-1: 5.63rem !default;
$size-2: 3.5rem !default;
$size-3: 2.5rem !default;
$size-4: 1.75rem !default;
$size-5: 1.25rem !default;
$size-6: 0.88rem !default;
$size-7: 0.63rem !default;

$family-monospace: 'Andale Mono', AndaleMono, monospace !default;


$gap: 32px !default; // 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px !default; // 960px container + 3rem
$desktop: 960px + (2 * $gap) !default; // 1152px container + 3rem


// Mixins


@mixin tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}
